include ../user-profile/user-profile.pug
include ../percentage/percentage.pug

mixin article-preview({title = "Title", articleAddress = "/mock-address", dateString = "2018-06-06", text = "Article Text", rating = "100", tags, author, category} = {})
    - if (tags === undefined) tags = { tag: "/mock-address/" };
    - if (author === undefined) author = { name: "Article Author", profession: "Profession", photo: "img/user-profile-man.jpg" };
    - if (category === undefined) category = { name: "A category", address: "/mock-address/" };
    - let articleDate = new Date(dateString);
    - const articleMonth = articleDate.toLocaleString("en", { month: "short" });
    - const articleDay = articleDate.toLocaleString("en", { day: "numeric" });
    - const articleYear = articleDate.toLocaleString("en", { year: "numeric" });
    - articleDate = `${articleDay} ${articleMonth} ${articleYear}`;
    article.article-preview
        header.article-preview__header
            h3.article-preview__title
                a.article-preview__link(href=articleAddress)=title
            time.article-preview__date(datetime=dateString)=articleDate
            .article-preview__category
                a.article-preview__link(href=category.address)=category.name

        .article-preview__text=text
        footer.article-preview__footer
            ul.article-preview__tags
                each tagAddress, tagName in tags
                    li.article-preview__tag
                        a.article-preview__link(href=tagAddress)=tagName
            .article-preview__author
                +user-profile({color: "grey", name: author.name, profession: author.profession, photo: author.photo})
            .article-preview__rating
                +percentage({value: rating})
