include ../standard-button/standard-button.pug

mixin event({dateString, title, content, mixClass=""})
    - const eventDate = new Date(dateString);
    - const eventMonth = eventDate.toLocaleString("en", { month: "short" });
    - const eventDay = eventDate.toLocaleString("en", { day: "numeric" });
    - mixClass = mixClass ? " " + mixClass : mixClass;
    article(class="event" + mixClass)
        .event__image
        .event__main
            header.event__header
                time(date=dateString class="event__date")
                    span.event__day=eventDay
                    span.event__month=eventMonth
                h2.event__title=title
            p.event__content=content
            +standard-button({size: "big", color: "blue", label: "add to calendar", darkShadow: true, thin: true, mixClass: "event__add-btn"})
