include ../standard-button/standard-button.pug

mixin event({dateString, title, content, image, added = false, color = "cyan"} = {})
    - const eventDate = new Date(dateString);
    - const eventMonth = eventDate.toLocaleString("en", { month: "short" });
    - const eventDay = eventDate.toLocaleString("en", { day: "numeric" });
    article(class = added ? `event event_color_${color} event_added` : `event event_color_${color}`)
        .event__image(style=`background-image: url(${image})`)
        .event__main
            header.event__header
                time.event__date(date=dateString)
                    span.event__day=eventDay
                    span.event__month=eventMonth
                h3.event__title=title
            p.event__content=content
            .event__add-to-calendar
                +standard-button({size: "big", color: color, label: "add to calendar", darkShadow: true, thin: true})
