mixin news-article-preview({title, articleAddress, dateString = "2018-06-06", color = "red", content, image} = {})
    - const newsDate = new Date(dateString);
    - const newsMonth = newsDate.toLocaleString("en", { month: "long" });
    - const newsDay = newsDate.toLocaleString("en", { day: "numeric" });
    - const newsYear = newsDate.toLocaleString("en", { year: "numeric" });
    article(class=`news-article-preview news-article-preview_color_${color}`)
        .news-article-preview__image(style=`background-image: url(${image})`)
        .news-article-preview__main
            header.news-article-preview__header
                h3.news-article-preview__title
                    a.news-article-preview__link(href=articleAddress)=title
                time.news-article-preview__date(date=dateString)=`${newsDay} ${newsMonth} ${newsYear}`
            p.news-article-preview__content=content
