include ../user-avatar/user-avatar.pug

mixin user-profile({name, profession, avatar, color = "grey", socials = {}} = {})
    .user-profile
        .user-profile__avatar
            +user-avatar({imgPath: avatar})
        div(class="user-profile__info user-profile__info_" + color)
            .user-profile__name=name
            .user-profile__profession=profession
            .user-profile__socials
                a.user-profile__social.user-profile__social_fb(href=socials.facebook target="_blank" rel="noopener noreferrer")
                a.user-profile__social.user-profile__social_twitter(href=socials.twitter target="_blank" rel="noopener noreferrer")
                a.user-profile__social.user-profile__social_dribbble(href=socials.dribbble target="_blank" rel="noopener noreferrer")
