mixin location({localAddress = "1259 California ST", globalAddress = "San Francisco, CA", title = "Title", hideAddress = false} = {})
    - const address = `${localAddress} ${globalAddress}`;
    .location
        .location__map.js-location__map(data-address=address)
        .location__footer
            .location__footer-info
                .location__title=title
                div(class=hideAddress ? "location__address location__address_hidden" : "location__address")
                    .location__address-local=localAddress
                    .location__address-global=globalAddress
            .location__footer-buttons
                .location__my-location.location__footer-button
                .location__pin.location__footer-button
